# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
/classes/

# Logs e Temp
logs/
*.log
temp/

# Docker
.docker/
.env

# Sistema
.DS_Store
Thumbs.db

# Spring Boot
HELP.md
